<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/bootstrap.min.css" type="text/css" rel="stylesheet">
  <link href="css/style.css" type="text/css" rel="stylesheet">
  <link rel="alternate" type="application/rss+xml" title="RSS" href="https://{domain}/releases.rss">
  <title>{domain}</title>
 </head>
 <body>
  <div class="container">
   <h1>{domain}</h1>
   <h2>Latest Releases</h2>
   <table class="table table-striped">
    <thead>
     <tr>
      <th>PHAR</th>
      <th>Size</th>
      <th>Last Modified</th>
      <th>GPG Signature</th>
      <th>SHA256 Checksum</th>
     </tr>
    </thead>
    <tbody>
{latest_releases}    </tbody>
   </table>
   <h2>All Releases</h2>
   <table class="table table-striped">
    <thead>
     <tr>
      <th>PHAR</th>
      <th>Size</th>
      <th>Last Modified</th>
      <th>GPG Signature</th>
      <th>SHA256 Checksum</th>
     </tr>
    </thead>
    <tbody>
{all_releases}    </tbody>
   </table>
  </div>
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
 </body>
</html>

