body, h1, h2, h3, h4, h5, h6 {
 font-family: 'Open Sans', sans-serif;
}

code, pre {
 font-family: 'Source Code Pro', sans-serif;
}

body {
 padding-top: 60px;
}

.container {
 margin: 0 auto;
}

.container > hr {
 margin: 30px 0;
}

.popover {
 max-width: none;
}

.jumbotron {
 margin: 40px 0;
 text-align: center;
 padding-bottom: 36px;
}

.jumbotron h1 {
 font-size: 64px;
 line-height: 1;
}

.jumbotron h2 {
 font-size: 48px;
 line-height: 1;
}

.jumbotron .lead {
 font-size: 24px;
 line-height: 1.25;
}

.jumbotron .subnav {
 line-height: 2.25;
}

.navbar {
 -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.32);
 -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.32);
 box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.32);
}

.navbar .navbar-inner {
 padding: 0;
}

.navbar .nav {
 float: none;
 margin: 0;
}

.navbar .nav li {
 width: 16%;
 text-align: center;
}

.navbar .nav li a {
 font-weight: bold;
 text-align: center;
 border: none;
}

.center {
 float: none;
 margin-left: auto;
 margin-right: auto;
 text-align: center;
}

.flex-video {
 position: relative;
 padding-top: 25px;
 padding-bottom: 67.5%;
 height: 0;
 margin-bottom: 16px;
 overflow: hidden;
}

.flex-video.widescreen {
 padding-bottom: 57.25%;
}

.flex-video.vimeo {
 padding-top: 0;
}

.flex-video iframe,
.flex-video object,
.flex-video embed {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
}

.welcome-block {
 -webkit-box-shadow: 7px 7px 10px 0px rgba(0,0,0,0.32);
 -moz-box-shadow: 7px 7px 10px 0px rgba(0,0,0,0.32);
 box-shadow: 7px 7px 10px 0px rgba(0,0,0,0.32);
}

.welcome-block .btn {
 margin: 0 5px;
 -webkit-box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.32);
 -moz-box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.32);
 box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.32);
}

iframe {
 border: 0 none;
}

pre {
 -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.32);
 -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.32);
 box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.32);
}

.documentation .panel-body ul,
.documentation-outdated .panel-body ul {
 padding-left: 8px;
}

.documentation .panel-body li,
.documentation-outdated .panel-body li {
 list-style-type: none;
}

.documentation .panel-body li span.glyphicon,
.documentation-outdated .panel-body li span.glyphicon {
 margin-right: 10px;
}

.documentation-outdated {
 border-color: #999;
}

.documentation-outdated .panel-heading {
 background-color: #999;
 border-color: #999;
}

.documentation-outdated .panel-body a,
.documentation-outdated .panel-body li
 {
 color: #999;
}

.btn-learn {
 color: #ffffff;
 background-color: #823BD0;
 border-color: #70489C;
}

.btn-learn:hover,
.btn-learn:focus,
.btn-learn:active,
.btn-learn.active,
.open .dropdown-toggle.btn-learn {
 color: #ffffff;
 background-color: #6D27B8;
 border-color: #60388A;
}

.btn-learn:active,
.btn-learn.active,
.open .dropdown-toggle.btn-learn {
 background-image: none;
}

.btn-learn.disabled,
.btn-learn[disabled],
fieldset[disabled] .btn-learn,
.btn-learn.disabled:hover,
.btn-learn[disabled]:hover,
fieldset[disabled] .btn-learn:hover,
.btn-learn.disabled:focus,
.btn-learn[disabled]:focus,
fieldset[disabled] .btn-learn:focus,
.btn-learn.disabled:active,
.btn-learn[disabled]:active,
fieldset[disabled] .btn-learn:active,
.btn-learn.disabled.active,
.btn-learn[disabled].active,
fieldset[disabled] .btn-learn.active {
 background-color: #823BD0;
 border-color: #70489C;
}

.btn-learn .badge {
 color: #823BD0;
 background-color: #ffffff;
}

.btn-github {
 color: #ffffff;
 background-color: #333333;
 border-color: #262626;
}

.btn-github:hover,
.btn-github:focus,
.btn-github:active,
.btn-github.active,
.open .dropdown-toggle.btn-github {
 color: #ffffff;
 background-color: #4c4c4c;
 border-color: #333333;
}

.btn-github:active,
.btn-github.active,
.open .dropdown-toggle.btn-github {
 background-image: none;
}

.btn-github.disabled,
.btn-github[disabled],
fieldset[disabled] .btn-github,
.btn-github.disabled:hover,
.btn-github[disabled]:hover,
fieldset[disabled] .btn-github:hover,
.btn-github.disabled:focus,
.btn-github[disabled]:focus,
fieldset[disabled] .btn-github:focus,
.btn-github.disabled:active,
.btn-github[disabled]:active,
fieldset[disabled] .btn-github:active,
.btn-github.disabled.active,
.btn-github[disabled].active,
fieldset[disabled] .btn-github.active {
 background-color: #333333;
 border-color: #262626;
}

.btn-github .badge {
 color: #333333;
 background-color: #fff;
}

.btn-training {
 color: #ffffff;
 background-color: #f19322;
 border-color: #f19322;
}

.btn-training:hover,
.btn-training:focus,
.btn-training:active,
.btn-training.active,
.open .dropdown-toggle.btn-training {
 color: #ffffff;
 background-color: #eb870f;
 border-color: #d3790d;
}

.btn-training:active,
.btn-training.active,
.open .dropdown-toggle.btn-training {
 background-image: none;
}

.btn-training.disabled,
.btn-training[disabled],
fieldset[disabled] .btn-training,
.btn-training.disabled:hover,
.btn-training[disabled]:hover,
fieldset[disabled] .btn-training:hover,
.btn-training.disabled:focus,
.btn-training[disabled]:focus,
fieldset[disabled] .btn-training:focus,
.btn-training.disabled:active,
.btn-training[disabled]:active,
fieldset[disabled] .btn-training:active,
.btn-training.disabled.active,
.btn-training[disabled].active,
fieldset[disabled] .btn-training.active {
 background-color: #f19322;
 border-color: #f19322;
}

.btn-training .badge {
 color: #f19322;
 background-color: #fff;
}

.hljs {
  display: block; padding: 0.5em;
  background: #f5f5f5;
}

@media (max-width: 767px) {
 .jumbotron h1 {
  font-size: 2.6em;
 }

 .jumbotron .lead {
  font-size: 1.4em;
 }
}

@media (max-width: 979px) {
 .navbar .nav li {
  width: 100%;
 }
}

@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
 .flex-video {
  padding-top: 0;
 }
}

