@font-face {
 font-family: 'Open Sans';
 font-style: normal;
 font-weight: 400;
 src: local('Open Sans Regular'), local('OpenSans-Regular'), url(../fonts/OpenSans.ttf) format('truetype');
}

@font-face {
 font-family: 'Source Code Pro';
 font-style: normal;
 font-weight: 400;
 src: local('Source Code Pro'), local('SourceCodePro-Regular'), url(../fonts/SourceCodePro.ttf) format('truetype');
}

body, h1, h2 {
 font-family: 'Open Sans', sans-serif;
}

code, pre {
 font-family: 'Source Code Pro', monospace;
}

.container {
 width: 99%;
}

.container > hr {
 margin: 30px 0;
}

.popover {
 max-width: none;
}
