      <tr class="phar" data-title="Manifest" data-content="{manifest}" data-placement="bottom" data-html="true">
       <td>{strongOpen}<a href="https://{site}/{package}-{version}.phar">{package}-{version}.phar</a>{strongClose}</td>
       <td>{strongOpen}{size}{strongClose}</td>
       <td>{strongOpen}{date}{strongClose}</td>
       <td>{strongOpen}<a href="https://{site}/{package}-{version}.phar.asc">{package}-{version}.phar.asc</a>{strongClose}</td>
       <td>{strongOpen}<samp>{sha1}</samp>{strongClose}</td>
      </tr>
